version: "3.8"

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: web-app
    environment:
    - ES_HOST=elasticsearch
    depends_on:
      - elasticsearch
    
  # no port because only reached via nginx
  nginx:
    image: nginx:latest
    container_name: nginx-reverse-proxy
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./static-dist:/usr/share/nginx/html
    
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.13
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
